#titulo {
    text-align: center;
}
#texto_explicativo{
    margin-top: 15px;
    

}
.texto_one{
    border: solid rgb(156, 156, 156);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.texto_two{
    border: solid rgb(156, 156, 156);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.texto_tree{
    border: solid rgb(156, 156, 156);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}
#conteudo{
    margin-top: 30px;

}
.titulo_card{
    text-align: center;
}
.butao_card{
    text-align: center;
}