body{
    background-color: rgb(247, 247, 247)
}
#titulo {
    text-align: center;
    padding-top: 5px;
}
#texto_explicativo{
    margin-top: 15px;
    border-top: solid rgb(9, 186, 209);
    border-width: 1px;
    padding-top: 30px;
}
#texto_explicativo.row{
    padding: 15px;
}
.texto_one{
    border: solid rgb(9, 186, 209);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(2, 125, 197, 0.3);
    padding: 30px 30px 30px 30px;
    text-align: justify;
    background-color: white;
    border-width: 2px;
}
.texto_two{
    border: solid rgb(9, 186, 209);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(2, 125, 197, 0.3);
    padding: 20px 20px 33px 20px;
    text-align: justify;
    background-color: white;
    border-width: 2px;
    
}
.texto_tree{
    border: solid rgb(9, 186, 209);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(2, 125, 197, 0.3);
    margin-top: 15px;
    padding: 20px 20px 20px 20px;
    text-align: justify;
    background-color: white;
    border-width: 2px;
}
#conteudo{
    margin-top: 30px;
    border-top: solid rgb(9, 186, 209);
    padding-top: 30px;
    border-width: 1px;
    
}


.titulo_card{
    text-align: center;
    border: solid rgb(9, 186, 209);
    border-radius: 10px;
    padding-top: 5px;
  

}
.butao_card{
    padding-top: 15px;
    text-align: center;
}

.table {  
  display: none;
}
